<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="lecturer-layout :: headsection">
	<meta charset="ISO-8859-1">
	<title>CAPS</title>
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<div th:replace="lecturer-layout :: lecturer-menu"></div>
	<h5>Course Teaching List</h5>
	<div th:if="${not #lists.isEmpty(clist)}">
		<table style="border: 1;" align="center">

			<tr class="listHeading">
				<th><span th:text="#{fieldLabel.courseID}"></span></th>
				<th><span th:text="#{fieldLabel.code}"></span></th>
				<th><span th:text="#{fieldLabel.name}"></span></th>
				<th><span th:text="#{fieldLabel.classPax}"></span></th>
				<th><span th:text="#{caption.selectc}"></span></th>
			</tr>
			<tr th:each="course : ${clist}" class="listRecord">
				<td align="left" th:text="${course.courseID}">Course Id</td>
				<td align="left" th:text="${course.code}">Course Code</td>
				<td align="left" th:text="${course.name}">Name</td>
				<td align="left" th:text="${course.classPax}">Class Pax</td>
				<td><a th:href="@{/lecturer/courses/{cid}(cid=${course.courseID})}" class="btn btn-default"><span		
							th:text="#{caption.selectc}"></span></a></td>
			</tr>
		</table>
	</div>
</body>

</html>
