<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: headsection">
	<meta charset="ISO-8859-1">
	<title>CAPS</title>
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<form action="#" th:action="${'/lecturer/'+{lecturer.lecturerID}+'/courses/'+{course.courseID}+'/grade/'+{enrolment.studentID.studentID}}" th:object="${enrolment}" method="post">
		<h5>Course ID: <span th:text="${enrolment.courseID.courseID}">
			</span></h5>
		<h5>Student ID: <span th:text="${enrolment.studentID.studentID}">
			</span></h5>
		<table align="center">
			<tbody>
			<table align="center">
			<tbody>
				<tr>
					<td><span th:text="#{fieldLabel.sc_ID}"></span></td>
					<td>
						<fieldset>
							<input type="text" th:field="*{sc_ID}" readonly="readonly" />
						</fieldset>
					</td>
					<td th:if="${#fields.hasErrors('sc_ID')}" th:errors="*{sc_ID}"></td>
				</tr>
			<tr>
					<td><span th:text="#{fieldLabel.courseID}"></span></td>
					<td>
						<fieldset>
							<input type="text" th:field="*{courseID.courseID}" readonly="readonly"/>
						</fieldset>
					</td>
					<td th:if="${#fields.hasErrors('courseID')}" th:errors="*{courseID}"></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<fieldset>
							<input type="hidden" th:value="*{eventType}" name="placeholder"/>
							</select>
						</fieldset>
					</td>
					<td th:if="${#fields.hasErrors('eventType')}" th:errors="*{eventType}"></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.score}"></span></td>
					<td>
						<fieldset>
							<input type="text" th:field="*{score}" />
						</fieldset>
					</td>
					<td th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></td>
				</tr>
				<tr>
					<td><a th:href="${'/lecturer/'+{lecturer.lecturerID}+'/courses/'+{course.courseID}+'/grade/'}">Back</a></td>
					<td>
						<fieldset><input type="submit" value="Update" class="blcass" /></fieldset>
					</td>
				</tr>
			</tbody>
		</table>
	</form>

</body>

</html>
