<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="lecturer-layout :: headsection">
	<meta charset="ISO-8859-1">
	<title>CAPS</title>
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>


<body>
	<div th:replace="lecturer-layout :: lecturer-menu"></div>
	<div th:if="${not #lists.isEmpty(sclist)}">
		<div class="container">
			<div class="row">
				<div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">
					<h4>Select Student Page</h4>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<table class="table table-striped">
						<thead>
							<tr class="listHeading">
								<th><span th:text="#{fieldLabel.studentID}"></span></th>
								<th><span th:text="#{fieldLabel.name}"></span></th>
								<th><span th:text="#{fieldLabel.email}"></span></th>
								<th><span th:text="#{caption.grade}"></span></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="enrolment : ${sclist}" class="listRecord">
								<td align="left" th:text="${enrolment.studentID.studentID}">Student Id</td>
								<td align="left" th:text="${enrolment.studentID.name}">Name</td>
								<td align="left" th:text="${enrolment.score}">Grade</td>
								<td>
									<a th:href="${'/lecturer/courses/'+{course.courseID}+'/grade/'+{enrolment.studentID.studentID}}">
										<span th:text="#{caption.grade}"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<div style="padding-top:15px;">
										<a th:href="@{/lecturer/courses/list}">Back</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
