<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: headsection">
	<meta charset="ISO-8859-1">
	<title>CAPS</title>
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<div th:replace="layout :: admin-menu"></div>
	<h5>New Course Enrollment page</h5>

	<form action="#" th:action="@{/admin/courses/enroll/create}" th:object="${student_course}" method="post">
		<table align="center">
			<tbody>
				<tr>
					<td><span th:text="#{fieldLabel.studentID}"></span></td>
					<td>
						<fieldset>
							<input type="text" th:field="*{studentID.studentID}" />
						</fieldset>
					</td>
					<td th:if="${#fields.hasErrors('studentID')}" th:errors="*{studentID}"></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.courseID}"></span></td>
					<td>
						<fieldset>
							<input type="text" th:field="*{courseID.courseID}" />
						</fieldset>
					</td>
					<td th:if="${#fields.hasErrors('courseID')}" th:errors="*{courseID}"></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.eventType}"></span></td>
					<td>
						<fieldset>
							<select class="form-control" name="status" th:field="*{eventType}">
								<option th:each="eventType : ${T(sg.edu.iss.team5.helper.status).values()}"
									th:value="${eventType}" th:text="${eventType}">
								</option>
							</select>
						</fieldset>
					</td>
					<td th:if="${#fields.hasErrors('eventType')}" th:errors="*{eventType}"></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.score}"></span></td>
					<td>
						<fieldset>
							<input type="text" th:field="*{score}" />
						</fieldset>
					</td>
					<td th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></td>
				</tr>

				<tr>
					<td><a th:href="@{/admin/courses/enroll/list}">Back</a></td>
					<td colspan="2">
						<fieldset>
							<input type="submit" value="Create" class="blcass" />
						</fieldset>
					</td>
				</tr>
			</tbody>
		</table>
	</form>

</body>

</html>
