<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: headsection">
	<meta charset="ISO-8859-1">
	<title>CAPS</title>
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<div th:replace="layout :: admin-menu"></div>
	<h5>Lecturer List page</h5>
	<h5>
		<a th:href="@{/admin/lecturers/create}">Add Lecturer</a>
	</h5>
	<div th:if="${not #lists.isEmpty(lclist)}">
		<table style="border: 1;" align="center">

			<tr class="listHeading">
				<th><span th:text="#{fieldLabel.lecturerID}"></span></th>
				<th><span th:text="#{fieldLabel.email}"></span></th>
				<th><span th:text="#{fieldLabel.name}"></span></th>
			</tr>
			<tr th:each="lecturer : ${lclist}" class="listRecord">
				<td align="left" th:text="${lecturer.lecturerID}">Lecturer Id</td>
				<td align="left" th:text="${lecturer.email}">Lecturer Id</td>
				<td align="left" th:text="${lecturer.name}">Name</td>

				<td><a th:href="@{/admin/lecturers/edit/}+${lecturer.lecturerID}" class="btn btn-default"><span
							th:text="#{caption.edit}"></span></a></td>
				<td><a th:href="@{/admin/lecturers/delete/}+${lecturer.lecturerID}" class="btn btn-default"><span
							th:text="#{caption.delete}"></span></a></td>
			</tr>
		</table>
	</div>
</body>

</html>
