<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: headsection">
	<meta charset="ISO-8859-1">
	<title>CAPS</title>
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<div th:replace="layout :: admin-menu"></div>
	<h5>Enrollment List page</h5>
	<div>
		<table style="border: 1;" align="center">

			<tr class="listHeading">

				<th><span th:text="#{fieldLabel.studentID}"></span></th>
				<th><span th:text="#{fieldLabel.courseID}"></span></th>
				<th><span th:text="#{fieldLabel.eventType}"></span></th>
				<th><span th:text="#{fieldLabel.score}"></span></th>
			</tr>
			<tr th:object="${enrolment}" class="listRecord">

				<td align="left" th:text="${enrolment.studentID.studentID}"></td>
				<td align="left" th:text="${enrolment.courseID.courseID}"></td>
				<td align="left" th:text="${enrolment.eventType.toString()}"></td>
				<td align="left" th:text="${enrolment.score}"></td>
			</tr>
		</table>
	</div>
</body>

</html>
