<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="student-layout :: headsection">
	<meta charset="ISO-8859-1">
	<title>CAPS</title>
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<div th:replace="student-layout :: student-menu"></div>

	<div class="container">
		<div class="row">
			<div class="col" style="margin-top: 15px; margin-bottom: 15px;" align="center">
				<h4>Enrollment Details</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table table-striped">
					<thead>
						<tr>

							<th><span th:text="#{fieldLabel.studentID}"></span></th>
							<th><span th:text="#{fieldLabel.courseID}"></span></th>
							<th><span th:text="#{fieldLabel.eventType}"></span></th>
							<th><span th:text="#{fieldLabel.score}"></span></th>
						</tr>
					</thead>
					<tbody>
						<tr th:object="${enrolment}">

							<td align="left" th:text="${enrolment.studentID.studentID}"></td>
							<td align="left" th:text="${enrolment.courseID.courseID}"></td>
							<td align="left" th:text="${enrolment.eventType.toString()}"></td>
							<td align="left" th:text="${enrolment.score}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>