<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: headsection">
	<meta charset="ISO-8859-1">
	<title>CAPS</title>
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>


<body>
	<div th:replace="layout :: admin-menu"></div>
	<h5>Edit Student page</h5>
	<form action="#" th:action="@{/admin/students/edit/'+student.studentID}" th:object="${student}" method="post">
		<table align="center">
			<tbody>
				<tr>
					<td><span th:text="#{fieldLabel.studentID}"></span></td>
					<td>
						<fieldset><input type="text" th:field="*{studentID}" readonly="readonly" /></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('studentID')}" th:errors="*{studentID}"></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.email}"></span></td>
					<td>
						<fieldset><input type="text" th:field="*{email}" /></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.name}"></span></td>
					<td>
						<fieldset><input type="text" th:field="*{name}" /></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
				</tr>
				<tr>
					<td><a th:href="@{/admin/students/list}">Back</a></td>
					<td colspan="2">
						<fieldset><input type="submit" value="Update" class="blcass" /></fieldset>
					</td>
				</tr>
			</tbody>
		</table>
	</form>

</body>

</html>
