<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="student-layout :: headsection">
	<meta charset="ISO-8859-1">
	<title>CAPS</title>
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<div th:replace="student-layout :: student-menu"></div>
	
	<div th:if="${#lists.isEmpty(elist)}">
	<div class="container">
			<div class="row">
				<div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">
					<h4>Enrolled Courses List</h4>
				</div>

			</div>
			<div class="row" style="margin-top:100px;">
				<div class="col" align="center">
					<img src="/images/no-data.png">
				</div>
			</div><br>
			<div class="row">
				<div class="col" style="text-align:center;">
					<h4>You have not enrolled any courses.</h4>
				</div>
			</div>
		</div>
	</div>
	
	<div th:if="${not #lists.isEmpty(elist)}">
		<div class="container">
			<div class="row">
				<div class="col" style="margin-top: 15px; margin-bottom: 15px;" align="center">
					<h4>Enrolled Course List</h4>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><span th:text="#{fieldLabel.studentID}"></span></th>
								<th><span th:text="#{fieldLabel.courseID}"></span></th>
								<th><span th:text="#{fieldLabel.eventType}"></span></th>
								<th><span th:text="#{fieldLabel.score}"></span></th>
								<th><span>Detail</span></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="student_course : ${elist}">
								<td align="left" th:text="${student_course.studentID.studentID}"></td>
								<td align="left" th:text="${student_course.courseID.courseID}"></td>
								<td align="left" th:text="${student_course.eventType}"></td>
								<td align="left" th:text="${student_course.score}"></td>
								<td>
									<a th:href="@{/student/courses/view/}+${student_course.sc_ID}">
										<span th:text="#{caption.detail}"></span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
</body>

</html>